
.what-is{
  position: relative;
  height: 470px;
  .what-text{
    h3{
      font-family: 'Gotham',sans-serif;
      font-size: 30px;
      line-height: 48px;
      color: #424141;
      font-weight: 700;
    }
    p{
      font-family: "Muli",sans-serif;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: .03em;
      color: #747474;
      margin-bottom: 30px;
    }
  }
  .right-rec{
    position: absolute;
    top: -97px;
    right: 0;
    width: 47%;
  }
  .left-rec{
    position: absolute;
    top: -97px;
    left: 0;
    width: 47%;
  }
  .top-opas {
    position: absolute;
    top: -241px;
    right: 0;
}
}
.mt-12e{
  margin-top: 20rem!important;
}
.what-bg{
  background-image: url(../img/Rectangle2.png);
  background-position: right top;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.task-on-bg{
  background-image: url(../img/task-on-bg.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}